*{
    margin: 0;
    padding: 0;
}
.header{
    height: 100vh;
}
.navbar-style{
    box-shadow: 0 5px 10px #efefef;
    text-transform: uppercase;
}
.logo{
    height: 48px;
    padding: 2px 10px;
}
.icon-bar{
    background: darkorchid;
}
.small-text{
    font-size: 42px;
    color:darkorchid;
}
.big-text{
    font-size: 52px;
    margin:20px 0;
    color:darkorchid;
}

a.btn{
    margin: 30px 10px;
    width: 150px;
    padding: 10px;
    border-radius: 20px;
}
a.btn-first{
    background-color: darkorchid;
    color: #fff;
}
a.btn-second{
    background: darkorchid;
    border: 1px solid darkorchid;
    color: #fff;
}
a.btn:hover{
    background: darkorchid;
    border: none;
    color:#fff;
    box-shadow:  5px 5px 10px #999;
    transition: 0.3s;
}
.banner-info, .banner-image{
    margin: 30px 0;
}